@tailwind base;
@tailwind components;
@tailwind utilities;

/* fonts */
body {
  font-family: var(--font-main), var(--font-jp);
  font-weight: 300;
}
code {
  font-family: var(--font-code);
}
.font-alt {
  font-family: var(--font-alt);
}

/* colors */
.color-main {
  color: #1f2937;
  background-color: #f3f4f6;
}
.color-sub {
  color: #1f2937;
  background-color: #d1d5db;
}
.color-light {
  color: #9ca3af;
}
.color-anti {
  color: #f3f4f6;
  background-color: #1f2937;
}
.color-anti-light {
  color: #9ca3af;
}
.border-sub {
  border-color: #6b7280;
  padding-left: 16px;
  padding-right: 16px;
}
.border-anti {
  border-color: #d1d5db;
  padding-left: 16px;
  padding-right: 16px;
}

/* layout */
.content-main {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;
  @media(min-width: 768px) {
    padding-left: 0;
    padding-right: 0;
  }
}
.content-main-img {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0;
  padding-right: 0;
}
.content-border {
  max-width: 840px;
  margin-left: auto;
  margin-right: auto;
}

/* spans */
.link {
  color: #2563eb;
  transition: 200ms;
  cursor: pointer;
}
.link:hover {
  color: #60a5fa;
  text-decoration: underline;
}
.link-hidden {
  transition: 200ms;
  cursor: pointer;
}
.link-hidden:hover {
  color: #6b7280;
  text-decoration: underline;
}
.anti-link {
  color: #93c5fd;
  transition: 200ms;
}
.anti-link:hover {
  color: #60a5fa;
  text-decoration: underline;
}
.button-main {
  transition: 200ms;
}
.button-main:hover {
  background-color: #9ca3af;
}
