@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #fafffc;
  font-family: var(--font-main), var(--font-jp);
  font-weight: 300;
}

code {
  font-family: var(--font-mono);
}
