@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #f5f5f5;
  font-family: var(--font-main), var(--font-jp);
  font-weight: 300;
}

code {
  font-family: var(--font-code);
}
